body {
  --text-color: #fff;
  --background-color: #000;
  --background-color-2: #282faf;
  --background-color-3: #202692;
  --link-color: #03b9f1;
  --link-hover-color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  color: #fff;
  color: var(--text-color);
  background-color: #363dc2;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  overflow: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
