#result {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#facial-detection-container {
    margin: 0 auto;
    position: relative;
    
}

#camera {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 200px;
}